## Data Science tools and ecosystem

in this notebook, data science, its ecosystem and the tools needed to carry out the function of data scientist are briefly summarized

some of the popular languange data scientist use are
1. python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia
8.Javascript
9. Php
10. Go
11.Ruby
12. Visual basic

some of the commonly used libaries used by data scientist include:
1. Pandas
2. Numpy
3. Mathplotlib
4. Seaborn
5. Scikit - learn
6. Keras
7. Tensorflow
8. Pythorch
9. Apache park
10. Vegas
11. Big Dl
12. Ggplot2

Data scientist tools :
1. Anaconda
2. R studio
3. Spyder
4. Zeppelin

Below are few example of evaluating arithmetic expressions in python

In [3]:
#arithmetic expression 
(10*45)+20

470

In [4]:
##this convert 300 minute to hour
300//60

5

Objectives :
1. add comment to code cell
2. create markdown cell
3. add ordered and unordered list to markdown cell
4. format content of markdown cell with heading style

## Author
# Muhammad Hidayatullah Aspar